:root{
    --dim-color:rgb(112, 110, 110) ; 
}

.card{
    background-color:var(--primary-color);
    width:20rem;
    height:30rem;
    display: flex;
    flex-direction:column;
}
.card-img{
    width:100%;
    max-height: 18rem;
    min-height: 12rem;
}
.card-brand{
    color:var(--dim-color)
}
.card-sellingprice{
    color:var(--secondary-color);
    margin:0 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}
.card-costprice{
    text-decoration: line-through;
    margin-right:0.2rem;
}
.card-offer{
    color:rgb(71, 169, 71)
}